
/BobbyTables/obj
/BobbyTables/bin
/BobbyTables.Net45/obj
/BobbyTables.Net45/bin
/BobbyTables.Portable/obj
/BobbyTables.Portable/bin
/BobbyTables.Tests/obj
/BobbyTables.Tests/bin
*.suo
/BobbyTables.net40/bin
/BobbyTables.net40/obj